@import "reset.css";

body{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: flex-start;
    background-color: gainsboro;
    padding:20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

canvas{
    width: 800px;
    height: 800px;
    background-color: white;
    border-radius: 10px;

}
.color-option{
    width:50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    transition: transform ease-in-out .2s;
    border: 1px solid white;
}

.btns{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap:5px;
    width: 200px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.btns label{
    flex-basis: calc(50% - 2.5px);
    width: 50px;
    
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.color-options{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px;
}

.color-option:hover{
    transform: scale(1.5);
}

button, label{
    all:unset; 
    padding: 5px;
    text-align: center;
    background-color: rgb(117, 137, 172);
    color:white;
    font-weight: 200;
    padding:10px 0;
    cursor: pointer;
    border-radius: 10px;
    transition: opacity linear .2s;
    width: 50px;
    margin: 10px;
}
label:hover{
    opacity: 0.85;
}

input#file{
    display: none;
}

input#text{
    all: unset;
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
    font-weight: 500;
    background-color: white;
}

.btns label.active {
    background-color: rgba(224, 146, 146, 0.374); 
    color: rgb(30, 134, 155); 
}

.btns {
    position: relative;
  }
  
  .btns i {
    visibility: visible;
  }
  
  #draw-btn:hover i {
    visibility: hidden;
  }
  
  #draw-btn:hover::after {
    content: "pen";
    position: relative;

  }
  