@import "reset.css";

body{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgb(219, 219, 219);
    background: #757F9A;
    background: linear-gradient(15deg, rgb(135, 131, 135) 30%, rgba(0,0,0,0) 30%), radial-gradient(farthest-corner at 0% 0%, rgb(125, 122, 125) 75%, rgb(144, 137, 181) 75%);
    background: -webkit-linear-gradient(15deg, rgb(196, 192, 196) 30%, rgba(188, 183, 183, 0) 30%), radial-gradient(farthest-corner at 0% 0%, rgb(200, 198, 200) 75%, rgb(200, 205, 237) 75%);
    padding:20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

canvas{
    width: 800px;
    height: 800px;
    background-color: white;
    border-radius: 10px;

}
.color-option{
    width:50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    transition: transform ease-in-out .2s;
    border: 1px solid white;
}

.btns{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap:5px;
    width: 200px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.btns label{
    flex-basis: calc(50% - 2.5px);
    width: 50px;
    
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.color-options{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px;
}

.color-option:hover{
    transform: scale(1.5);
}

button, label{
    all:unset; 
    padding: 5px;
    text-align: center;
    background-color: rgb(117, 137, 172);
    color:white;
    font-weight: 200;
    padding:10px 0;
    cursor: pointer;
    border-radius: 10px;
    transition: opacity linear .2s;
    width: 50px;
    margin: 10px;
}
label:hover{
    opacity: 0.85;
}

input#file{
    display: none;
}

input#text{
    all: unset;
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
    font-weight: 500;
    background-color: white;
}
input#color{
  width: 50px;
  height: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 50%;
  background-color: transparent;
}
input#color::-webkit-color-swatch {
  border-radius: 30px;
  border: none;

}

#color {
  background: linear-gradient(to right, #fb0707, #ff9500, #f3ff07, #00fe15, #0720ff, #ff07a0);
}


.btns label.active {
    background-color: rgba(224, 146, 146, 0.374); 
    color: rgb(30, 134, 155); 
}

.btns {
    position: relative;
  }
  
  .btns i {
    visibility: visible;
  }
  
  #draw-btn:hover i {
    visibility: hidden;
  }
  
  #draw-btn:hover::after {
    content: "PEN";
    position:inherit;
  }
  
  #mode-btn:hover i {
    visibility: hidden;
  }
  
  #mode-btn:hover::after {
    content: "BG COLOR";
    position:inherit;
  }

  #eraser-btn:hover i {
    visibility: hidden;
  }
  
  #eraser-btn:hover::after {
    content: "ERASER";
    position:inherit;
  }
  #destroy-btn:hover i {
    visibility: hidden;
  }
  
  #destroy-btn:hover::after {
    content: "CLEAR ALL";
    position:inherit;
  }
  #file-btn:hover i {
    visibility: hidden;
  }
  #file-btn:hover::after {
    content: "IMAGE";
    position:inherit;
  }  
  #save:hover i {
    visibility: hidden;
  }
  #save:hover::after {
    content: "SAVE";
    position:inherit;
  }
  #colorview{
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
    padding: 10px;
  }